{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "prettier"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": true,
    "tsconfigRootDir:": "__dirname",
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "plugins": ["react", "@typescript-eslint", "react-refresh"],
  "rules": {
    "react-refresh/only-export-components": "warn",
    "react/react-in-jsx-scope": "off",
    "spaced-comment": "error",
    "no-duplicate-imports": "error",
    "prefer-template": "warn",
    "no-param-reassign": "warn",
    "no-redeclare": "warn",
    "no-useless-rename": "warn",
    "prefer-spread": "warn",
    "no-implicit-coercion": "warn",
    "prefer-const": "warn",
    "quotes": ["error", "double", { "avoidEscape": true }],
    "@typescript-eslint/no-unnecessary-condition": "error",
    "@typescript-eslint/unbound-method": [
      "error",
      {
        "ignoreStatic": true
      }
    ]
  },
  "settings": {
    "import/resolver": {
      "typescript": {}
    },
    "react": {
      "version": "detect"
    }
  },
  "ignorePatterns": ["build/**/*", "vite.config.ts"]
}
