{
  "semi": true,
  "singleQuote": false,
  "useTabs": false,
  "printWidth": 100,
  "tabWidth": 2,
  "arrowParens": "avoid",
  "trailingComma": "all",
  "bracketSpacing": true,
  "importOrder": [
    "^react(.*)$",
    "^@tanstack/?(.*)$",
    "<THIRD_PARTY_MODULES>",
    "^@state/?(.*)$",
    "^@constants/?(.*)$",
    "^@typeDefs/?(.*)$",
    "^@utils/?(.*)$",
    "^@api/?(.*)$",
    "^@cypress/?(.*)$",
    "^@pages/?(.*)$",
    "^@components/?(.*)$",
    "^@i18n/?(.*)$",
    "^[./]"
  ]
}
