BACKEND_HOST=
BACKEND_PORT=

FRONTEND_HOST=
FRONTEND_PORT=
AUTH_CLIENT_ID=

SECURE_LOCAL_STORAGE_HASH_KEY=
SECURE_LOCAL_STORAGE_PREFIX=

VITE_API_URL=${BACKEND_HOST}:${BACKEND_PORT}
VITE_AUTH_CLIENT_ID=${AUTH_CLIENT_ID}
VITE_SECURE_LOCAL_STORAGE_HASH_KEY=${SECURE_LOCAL_STORAGE_HASH_KEY}
VITE_SECURE_LOCAL_STORAGE_PREFIX=${SECURE_LOCAL_STORAGE_PREFIX}

DB_PASSWORD=
DB_USER=
DB_NAME=
DB_HOST=db
DB_PORT=5432

ADMIN1_EMAIL=
ADMIN2_EMAIL=
ADMIN3_EMAIL=
ADMIN4_EMAIL=

GCP_CONFIG_FILE=
GCP_PROJECT_ID=
GCP_BUCKET_ID=
GCP_DIR_NAME=