BACKEND_HOST=
BACKEND_PORT=

FRONTEND_HOST=
FRONTEND_PORT=
AUTH_CLIENT_ID=

VITE_API_URL=${BACKEND_HOST}:${BACKEND_PORT}
VITE_AUTH_CLIENT_ID=${AUTH_CLIENT_ID}

db_password=
db_user=
db_name=
db_host=db
db_port=5432