.leaflet-popup-tip-container, .leaflet-popup-close-button {
  display: none;
}

.leaflet-popup-content-wrapper {
  padding: 1px;
  border-radius: 8px;
  margin: 0;
  bottom: -40px !important;
  background-color: hsl(var(--background));
  cursor: pointer;
}

.leaflet-popup {
  bottom: -120px !important;
}
